/*-----------------------------------------------------------------------------------
    Author: SearchNative
    Project : Top Doctors;
    Description:
    Author URI: http://new.topdoctors.me/
    Developer : Jignesh P.;   
-----------------------------------------------------------------------------------*/
/***************** Font ******************/   
@font-face {
  font-family: 'Exo-Bold';
  src: url('../fonts/Exo-Bold.eot?#iefix') format("embedded-opentype"), url('../fonts/Exo-Bold.woff') format("woff"), url('../fonts/Exo-Bold.ttf') format("truetype"), url('../fonts/Exo-Bold.svg#Exo-Bold') format("svg");
  font-weight: normal;
  font-style: normal;
}
@media(min-width:480px)
{
 .csspopup-popup 
 {
  max-width:50% !important;
 } 
}
@media(min-width:768px) and (max-width:1024px)
{
 .english-popup .first-link.top-section img
 {
  margin-left:10px;
  max-width:94%;
 }

}

@media(min-width:1025px) and (max-width:1920px)
{
 .english-popup .first-link.top-section img
 {
  margin-left:24px;
  max-width:95%;
 }
}
 @media(min-width:2300px)
{
 .english-popup .first-link.top-section img
 {
  margin-left: -26px;
  max-width:104%;
 }
}
@media(min-width:768px) and (max-width:1024px)
{
 .arabic-popup .first-link.top-section img 
 {
     margin-left: -11px;
     max-width: 94%;
 }
}
@media(min-width:1024px) and (max-width:1920px)
{
 .arabic-popup .first-link.top-section img
 {
  margin-left:-20px;
  max-width:94%;
 }
}
@media(min-width:2300px)
{
 .arabic-popup.first-link.top-section img
 {
  
      margin-right: -50px;
      max-width: 113%;
 } 
}

/***************** Comman Style start ******************/
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0; height: 100%; }

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clear{clear: both;}
/***************** Comman Style end ******************/
/*.image-section{
    width: 50%;
    display: block;
    float: left;
  }
  .link-section{
    width: 50%;
    display: block;
    float: right;
  }*/
.link-popup {
  margin: 0 auto;
  text-align: center;
  width: 100% !important;
}
.image-section, .link-section{  
    width: 50%;  
    display: table-cell;
    float: none;
    text-align: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    vertical-align: top;
  }
/*  .image-section{
    width: 45%;
  }
  .link-section{
    width: 55%;
  }*/

  .img-box{
  /*  background: #ffffff url(../images/top-doctor-banner.jpg) no-repeat;
  
   height: 874px;    */
  }
  .img-box img,  .first-link img{
    max-width: 100%;
  }
 /* .first-link:first-child{
    margin-top: 7%;
  }*/
  .first-link:first-child {
    margin-top: 5%;
    margin-left: -7%;
    z-index: 1;
    position: relative;
}
  .first-link{
    width: 100%;
    text-align: center;
    margin-top: 2%;
  }
  .first-link span{ 
    display: inline-block; 
    width: 100%; 
    color: #053b61;
    font-size: 300%; 
     font-family: 'Exo-Bold';
     line-height: normal;
  }
  a.link, button.link {
    text-decoration: none;
    background: #053b61;
     color: #fff;
     font-size: 180%; 
     font-family: 'Exo-Bold';     
     padding: 3% 7%;
     display: inline-block;
  /*   margin: 3% 0;*/
  margin: 3% auto;
     cursor: pointer;
  }

  a.link:hover, button.link:hover{
    opacity: 0.9;
  }
  .txt-input {
    width: 80%;
    display: block;
    border: 2px solid #ccc;
    padding: 3% 7%;
    box-sizing: border-box;
/*    margin-bottom: 10px;*/
margin:0px auto 10px;
    font-size: 140%;
    color: #ccc;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.image-section .img-box img{ position: relative;z-index: 2; }
.first-link:first-child {
    margin-top: 5%;
    margin-left: -7%;
    z-index: 1;
    position: relative;
}

/********* Developer side ***********/
div#colorbox {
    width: 100% !important;
    position: relative !important;
    left: auto !important;
}
.box {
  width: 20%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  background: #000;

}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  height: 130vh;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 0px auto;
  padding: 0px;
  background: #fff !important;
  position: relative;
  z-index: 9999999 !important
  border-radius: 5px;
  width: 100%;
  /*transition: all 5s ease-in-out;*/
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

/*************/
#modalPage {
            display: none;
        }
        
        .csspopup-overlay {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .5);
            text-align: center;
            z-index: 99999999;

        }
        /* Added for IE<9 compatibility */
        
        .csspopup-overlay-ie {
            background: rgb(0, 0, 0);
            opacity: .5;
            filter: alpha(opacity=50);
        }
        
        .csspopup-overlay:after,
        .csspopup-valignfix {
            display: inline-block;
            *display: inline;
            *zoom: 1;
            height: 100%;
            width: 0;
            vertical-align: middle;
            content: '';
        }
        
        .csspopup-popup {
            display: inline-block;
            *display: inline;
            *zoom: 99999999;
            position: relative;
            max-width: 80%;
            padding: 0;
            box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
            background: #FFF !important;
            vertical-align: middle;
            border-radius: 6px;
            z-index: 99999999;
            margin-top: 20px;
        }
        
/*        .csspopup-popup > .csspopup-close {
            display: block;
            position: absolute;
            top: -15px;
            right: -12px;
            width: 12px;
            height: 12px;
            padding: 4px;
            border: 4px solid #fff;
            border-radius: 50%;
            box-shadow: inset 0 2px 2px 2px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, .4);
            cursor: pointer;
            background: #555;
            color: #FFF;
            text-align: center;
            font-size: 12px;
            line-height: 12px;
            text-decoration: none;
            font-weight: bold
        }*/
/*.csspopup-popup > .csspopup-close {
    display: block;
    position: absolute;
    top: -12px;
    right: -16px;
    width: 20px;
    height: 20px;
    padding: 10px 0 0;
    border-radius: 50%;
    cursor: pointer;
    background: #fff;
    color: #555;
    text-align: center !important;
    font-size: 13px;
    line-height: 0px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}
*/

.csspopup-popup > .csspopup-close {
    display: block;
    position: absolute;
    top: -15px;
    right: -12px;
    min-width: 20px;
    min-height: 20px;
    padding: 7px 8px;
    border: 4px solid #fff;
    border-radius: 50%;
    box-shadow: inset 0 2px 2px 2px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, .4);
    cursor: pointer;
    background: #555;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    line-height: 10px;
    text-decoration: none;
    font-weight: bold;
    z-index: 9999999;
    box-sizing: border-box;
}
        .margin15left{ margin-left: 15px; }
        
        .csspopup-close:hover {}
        
        .csspopup-content {
            text-align: left;
        }

.csspopup-overlay.english-popup .image-section .img-box{
	margin-right: -7%;
}
.csspopup-overlay.english-popup .link-section .first-link:first-child{
	margin-left: 0;	
}


/****** Arabic *******/
.arabic-popup .first-link:first-child {  
  margin: 5% 0 0 0 !important;
}


.arabic-popup .link-popup .image-section .img-box{ margin-left: -7%; }

  /********** media style ***********/
/* view 1279  */  
@media screen and (max-width:1920px){

.csspopup-overlay.english-popup .image-section .img-box{ margin-right:-20%; }
.arabic-popup .link-popup .image-section .img-box{ margin-left: -20%; }

}

@media screen and (max-width:1379px){
    .first-link span{ font-size: 250%; }
    a.link, button.link{ font-size: 150%; }
}

/* view 1024  */
@media screen and (max-width:1279px){
.first-link span{ font-size: 220%; }
a.link, button.link{ font-size: 130%; }
 .csspopup-overlay{ top: -5%; }
}

/* view 768  */
@media screen and (max-width:1023px){
 .first-link span{ font-size: 160%; }
 a.link, button.link{ font-size: 110%; }
 .csspopup-popup{ margin-top: 0; }
}

/* view 480  */
@media screen and (max-width:767px) {
.image-section{ display: none; }
.link-section{ width: 98%; }
.link-popup {width: 100%;}
a.link, button.link {padding: 2% 3%;}
.csspopup-overlay{ top: 0; }
 .box{
    width: 90%;
  }
  .popup{
    width: 100%;
    text-align: center;

  }
.first-link:first-child{ margin-top:0; }
.txt-input{ margin: 0 auto 10px !important; font-size: 80% !important; }
.first-link.top-section,
.arabic-popup .first-link:first-child{ width: 38%; margin: 0 auto !important; }
.arabic-popup .link-section { width: 100%; }

}

/* view 320  */
@media screen and (max-width:479px) {
  .first-link.top-section, .arabic-popup .first-link:first-child {width: 100%;}
.first-link:first-child{ margin-top:0; }
.first-link.top-section{ width: auto; margin: 0 auto; }
}


/** MAP POPUP CHANGES 13/04/2017 **/

#dvMap
{
    height: 73vh !important; width: 59vw !important;
}

.mapContainer
{
    max-width: 80% !important;
}

@media(max-width:768px)
{
    #dvMap
    {
       width: 80vw !important
    }
}