@font-face {
  font-family: 'GESSTextMedium-Medium';
  src: url('../fonts/GESSTextMedium-Medium.eot?#iefix') format("embedded-opentype"), url('../fonts/GESSTextMedium-Medium.woff') format("woff"), url('../fonts/GESSTextMedium-Medium.ttf') format("truetype"), url('../fonts/GESSTextMedium-Medium.svg#Exo-Bold') format("svg");
  font-weight: normal;
  font-style: normal;
}    


label.error {color: #ed7a53;}
/*.w-nav-link.menu-li.signIn-link.change-lng { 
  -moz-appearance: none;
  -webkit-appearance:none;
  border: medium none;
  cursor: pointer;
  vertical-align:top;
 
  padding-top: 0;
  margin-top: -2px;
}*/
span.down.arrow{ cursor: pointer; padding: 0;  margin-left: auto; margin-right: auto; position: relative; text-align: left; text-decoration: none; vertical-align: top; line-height: 0; margin-top: -10px; display: inline-block;  }
.p5l{ padding-left: 5px; }
/*.nav .nav-menu .list-inline > li{ vertical-align: top; display: inline-block; }*/
.nav .nav-menu .list-inline > li {
  display: inline-block;
  padding: 30px 10px;
  vertical-align: top;
}
span.down.arrow{ vertical-align: middle; }


.arabic-lang .tab-link-searchbox li a.hostpitals-link,
.arabic-lang .tab-link-searchbox li.active a.doctors-link,
.arabic-lang .tab-link-searchbox li:hover a.doctors-link,
.arabic-lang .tab-link-searchbox li a.clinics-link,
.arabic-lang .tab-link-searchbox li a.labs-link
{ width: 100%; display: block; padding-right: 60px; text-align: right; }

.arabic-lang .form-control.dropdown, .arabic-lang .search-links-view .form-control {
    padding-right:18% !important;
    text-align: right;
}

.bookmarks-gray-plus-icon{ background: url(../images/bookmarks-gray-plus-icon.png); width: 15px; height: 14px; display: inline-block; text-indent: -99999px; border: none; box-shadow: none; margin-right: 10px; margin-left: 2px; max-width: 100%;}
.bookmarks-plus-icon{ background: url(../images/bookmarks-plus-icon.png); width: 14px; height: 14px; display: inline-block; text-indent: -99999px; border: none; box-shadow: none; margin-right: 10px; margin-left: 2px; max-width: 100%;}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
.w-nav-link.menu-li.signIn-link.change-lng {
    padding-top: 1px;
    padding-left: 0;
        border: none;
    outline: none;
    background: transparent;
}
.arabic-lang .form-control.dropdown {
    padding: 25px 18% 25px 25px !important;
    text-align: right;
}
.arabic-lang .form-group.speciality .ui-selectmenu-text{
  padding: 15px 15px 15px 0;
}
/*ul.list-inline li .dropdown select{ width: 60px; }*/

.english-flag, .arabic-lang .english-flag, .arabic-flag, .arabic-lang .arabic-flag {
  background: #fff none repeat scroll 0 0;
  color: #000;
  display: block;
  font-size: 12px;
  letter-spacing: 1px;
  margin: 5px;
  overflow: hidden;
  padding: 0 5px;
  text-align: center;
  width: 60px !important;
}

}


/*.english-flag, .arabic-lang .english-flag{ background: url(../images/english-flag.png) center center no-repeat !important; background: #fff; width: 25px !important; height: 15px !important; text-indent: 9999px !important; display:block; margin: 5px auto;}
.arabic-flag, .arabic-lang .arabic-flag{ background: url(../images/arabic-flag.png) center center no-repeat !important; background: #fff; width: 25px !important; height: 15px !important; text-indent: 9999px !important; display: block; margin: 5px auto; }*/

.english-flag, .arabic-lang .english-flag, .arabic-flag, .arabic-lang .arabic-flag {
  background: #fff none repeat scroll 0 0;
  color: #000;
  display: block;
  font-size: 12px;
  letter-spacing: 1px;
  margin: 5px;
  overflow: hidden;
  padding: 0 5px;
  text-align: center;
  width: 60px !important;
}