/* view 1024  */

@media screen and (max-width:1279px){

.experinc-box.p100t {padding-top: 50px;  }

.w-nav-button{ border: 1px solid #008f9e; width: 100%; }

.w-nav-button span.title {

  display: inline-block;
  text-align: left;
  width: 48%;
  color: #fff;
  line-height: normal;
  font-size: 16px;
  line-height: 22px;
  vertical-align: middle;
  color: #fff;
  font-family: 'Exo-medium';
  padding-left: 10px;

}



.w-icon-nav-menu {

  color: #fff !important;

  display: inline-block;

  text-align: right;

  width: 48%;
  vertical-align: middle;
  line-height: 22px;

}

.arabic-lang .w-icon-nav-menu {text-align: left;}

.arabic-lang .w-nav-button span.title{ text-align: right; }



address{font-size: 13px;}



.featured-doctor-det .bottom ul li .details{ padding: 0 7px; }

.filter-show-data .bottom-box h2 {font-size: 18px;}

.featured-doctor-det .bottom ul li .review-det .title,

.filter-show-data .bottom-box .review-det span.title,

.filter-show-data .bottom-box span.address,

.filter-show-data .bottom-box span.phone{ font-size: 11px; }

.search-full-box .form-inline .form-control{ width: 99%; }

#map, .map-det {height: 354px;}

.get-direction-link{ left: 36px; }



/* doctor profile page */

.write-your-review table.rating-details tr th{ font-size: 16px; width: 230px; }



.profile-only-doctor .map-det{ height: 100%; }



.write-your-review table.rating-details tr td{ width: 35%; }

.doctor-profile .doctor-details .right-box{ padding: 20px 15px 20px 20px;}

.featured-doctor-det .bottom{ padding: 5px 10px; }

.featured-doctor-det .bottom ul li .img-box{ width: 18%; }

.featured-doctor-det .bottom ul li .review-det div.text-left{ width: 48% !important; }

.featured-doctor-det .bottom ul li .review-det div.text-right{ width: 48% !important; }

.featured-doctor-det .bottom ul li .review-det .third-one{ width: 100%; }

.review-det img{ margin: 0 -1px; }



.whatsup-det {

  left: auto;

  position: relative;

  text-align: center;

  top: auto;

}

.share-social {
  display: block;
  position: relative;
  right: auto;
  text-align: left;
  top: auto;
}
.home .search-links-view .form-control{ margin-bottom: 9px; }

}



/* view 768  */

@media screen and (max-width:1023px){
.home .search-links-view .form-control{ margin-bottom: 9px; }

.search-links-view select#select-location { margin-bottom: 12px !important; } 
.search-links-view select.form-control.dropdown[name="labtype"] {margin-bottom: 20px !important;}


  .email-link, .web-url-icon, .tel-icon, .mobile-icon, .facebook-icon, .instagram-icon{ background-position: top left; margin-left: -12px; }

  a.link-footer:hover .email-link,

a.link-footer:hover .web-url-icon,

a.link-footer:hover .tel-icon,

a.link-footer:hover .mobile-icon,

a.link-footer:hover .facebook-icon,

a.link-footer:hover .instagram-icon{ background-position: bottom left; }

.footer-top-det a span.text-name{ margin-left: -30px; }

.w-nav-overlay .list-inline .dropdown{ float: left; padding-left: 26px; }



/* search page style start */

.w-col-3.logo.flip {padding: 6px 0 0;}

.w-nav-button {
  background: rgba(0, 143, 158, 0.94) none repeat scroll 0 0;
  margin-top: 8px;
  padding: 5px 10px 6px;
  display: inline-block;
}
.w-nav-link.menu-li.signIn-link.change-lng{ background-color: transparent !important;  }
.dropdown-menu {
  background-color: rgba(0, 143, 158, 0.94) !important;
  border: medium none;
  border-radius: 0px;
  box-shadow: none;
}

.search-full-box{ margin-top: 51px; }

.search-full-box .form-inline .form-group{ width: 80%; }

.w-nav-overlay{ top:88%; }

.get-direction-link{ left: 16px; }

.search-full-box{ padding: 3% 0; }



.featured-doctor-det .bottom ul li .img-box{ width: 30%; }

.featured-doctor-det .bottom ul li .details{width: 66%;}

.featured-doctor-det .bottom ul li .review-det div{ width: 100%; /*text-align: left;*/}



.filter-show-data .bottom-box h2 {font-size: 16px;}

.filter-show-data .bottom-box .review-det .flip.text-left{ width: 55%; }

.filter-show-data .bottom-box .review-det .flip.text-right{ width: 42%; }



.filters-box.m50t{ margin-top: 30px; }



/* search page style end */



.experinc-box.p100t, .experinc-box.p45t {padding-top: 0px;}

.doctor-det-frm{ margin-top: 63px; }

.footer-menu-divider.w-nav-link.menu-li.w--nav-link-open {display: none;}

.list-inline > li{float: left; width: 100%; padding:0px; display: block; }

.list-inline li a{color: #fff;}

.menu-li{ padding: 12px; }

.w-nav-link.menu-li.signIn-link, .w-nav-link.menu-li.register-link {padding: 12px; color: #fff;}

.or-text.w-nav-link.menu-li{display: none;}

.w-nav-link.menu-li.signIn-link i.fa.fa-user{padding-left: 0;}

.plan1{ padding: 7px; }

.plan1 h4{ font-size: 18px; }

.ourplan-heading{ font-size: 34px; line-height: 34px;}

.experinc-box.p100t h4{ font-size: 16px; }

.experinc-box.p100t h4 {margin-bottom: 10px;}

.border-buttom{ margin-bottom: 15px; }

.buttons {margin-top: 15px;}

h5.title{font-size: 18px;}

.buttons.get-application{ margin:0; padding: 0; }

.btn-ex-one {margin-top: 10px;}

.plan1_1{ padding: 15px; }

.review-user {min-width: 70px;}

.plan1-ser1 .review-details h6, .plan1-ser1 .review-details h6 span{ float: none !important; }

.plan1-ser1 .review-details h6{ margin-bottom: 10px; }

.top-reviews.our-plan-parlex .wrap{ margin-top: 0; }

.dropdown .menu-li:hover { background-color: transparent;}

.list-inline li a, .w-nav-link.menu-li.signIn-link, .w-nav-link.menu-li.register-link, .w-nav-link.menu-li.signIn-link, .w-nav-link.menu-li.register-link{ padding-left: 30px; }



.w-nav-link.menu-li.signIn-link i.fa.fa-user {display: none;}



/* doctor profile */

.write-your-review .rating-details tr th {

    font-size: 15px !important;

    width: 152px !important;

}

.featured-doctor-det .bottom ul li .review-det div.text-left,

.featured-doctor-det .bottom ul li .review-det div.text-right{ width: 98% !important; }

.review-frm label{ font-size: 15px; text-align: left; margin: 10px 0;}

.box label img{ width: 20px; }

.box label span{ font-size: 15px; }

.excellent .content p{ font-size: 16px; }

.w-row .w-col.w-col-9.text-left{margin-bottom: 30px;}

.border-divider.w300{ width: auto; }

.ml12p { margin-left: 9%;}

.write-your-review table.rating-details tr td {

  width: auto;

}

.write-your-review .rating-details {

  margin-top: 0;

}

#forgotpassfrm #loginform .form-group{ margin-bottom: 10px;  }

.first-one.flip.pull-left .address {

  float: left;

  width: 200px;

}


.arabic-lang .search-links-det li a{ 
  padding-right:0; 
}
.arabic-lang .email-link, .arabic-lang .web-url-icon, .arabic-lang .tel-icon, .arabic-lang .mobile-icon, .arabic-lang .facebook-icon, .arabic-lang .instagram-icon {
  margin-left: 4px !important;
}
.arabic-lang .whatsup-det {
  left: 10%;
}

selectmenu-button.ui-button.ui-widget.ui-selectmenu-button-closed.ui-corner-all:hover{ transform: initial !important; }

.arabic-lang .search-links-det .tab-link-searchbox li a{ padding-left: 60px !important; padding-right: 0 !important; }

.arabic-lang .form-group.speciality .ui-selectmenu-text {
      padding: 15px 0px 15px 0 !important;
      margin-right: 0 !important;
  }

}



/* view 480  */

@media screen and (max-width:767px) {

 /* .doctor-profile .doctor-details .right-box h2{ padding-left: 6%; }
  .share-social{ right: -50px; }
*/
/*
@media screen and (-webkit-min-device-pixel-ratio: 0){*/
  .arabic-lang .form-group.speciality .ui-selectmenu-text {
      padding: 15px 0px 15px 0 !important;
      margin-right: 0 !important;
  }
/*}*/


.share-social {
    position: relative;
    right: auto;
    top: auto;
    text-align: center;
}

  .footer-top-det > .link-footer {

  margin: 0 auto;

  width: 90%;

}

.whatsup-det {

  margin: 0 auto;

  position: relative;

  text-align: left;

  width: 65%;

}

  .first-one.flip.pull-left .address {

    width: 175px;

    text-align: left;

}

.arabic-lang .first-one.flip.pull-left .address {

    text-align: right;

}



/* search page style */

.write-your-review .rating-details tr th {

    font-size: 15px !important;

    width: 220px !important;

}

.choose-doctor img{ width: 55px; }

.search-full-box .form-inline .form-group {

    width: auto;

}

.search-full-box .form-inline .form-control-btn-box{ width: auto; }

.search-full-box .search-icon{ left: 70px; }

.search-full-box {

    margin-top: 0;

}

.search-full-box {

    padding: 2% 0;

    vertical-align: top;

}

.form-group {

    margin-bottom: 0;

}

.search-links-view .form-control, .filters-details .form-control{ padding:15px 25px; }



.sorting-det .form-horizontal .form-group .col-sm-6.pull-left.col-xs-12 .form-control.dropdown {padding: 5px 90px 5px 25px !important; }



.address-det{ text-align: left; }

.featured-doctor-det{ margin: 5% 0 10%; }

/***********************/



.search-links-det{ box-shadow: none; height: 100%; }

/*.fixed-header .w-col.w-col-3.logo.flip.pull-left{ width: 80% !important; float: left; }

.fixed-header .w-col.w-col-9.flip.pull-right{ width: 10% !important; float: right; }*/

.doctor-det-frm {

  margin-top: 15px;

}

.tab-link-searchbox { 

  padding: 20px 0 0;

}

.tab-link-searchbox li{ padding: 12px 20px; }

.search-links-view .form-control{ text-align: left; }

.form-horizontal .form-group .form-control.dropdown {padding: 15px 90px 15px 25px !important;}
.arabic-lang .form-horizontal .form-group .form-control.dropdown {
    padding: 15px 60px 15px 25px !important;
}
.arabic-lang .form-group.speciality .ui-selectmenu-text {
    padding: 3px 15px 3px 0 !important;
}
.arabic-lang .search-links-view .form-control {
    padding: 15px 25% 15px 15px !important;
}
.arabic-lang .filters-details #searchname.form-control {
    padding: 15px 20% 15px 15px !important;
}
.arabic-lang .ui-selectmenu-button.ui-selectmenu-button-closed.ui-corner-all.ui-button.ui-widget{ margin-bottom: 10px; }
#people-button .ui-selectmenu-text{ padding: 5px 25px 5px 0; }
.arabic-lang #people-button .ui-selectmenu-text{ padding-right: 15px !important; }
.search-links-view .form-group {margin: 0 !important;}

.search-links-view {

  display: block;

  height: 100%;

  margin-left: 0;

  padding: 20px 0 0;

}

.form-group.btn-search

 {

  -moz-user-select: none;

  background-image: none;

  border: 1px solid transparent;

  border-radius: 4px;

  cursor: pointer;

  display: inline-block;

  font-size: 14px;

  font-weight: 400;

  line-height: 1.42857;

  margin-bottom: 0;

  padding: 6px 12px;

  text-align: center;

  vertical-align: middle;

  white-space: nowrap;

}



.search-links-view{ padding-bottom: 40px; }

.search-links-view .form-control{ padding: 15px; }

.sepreater{width: 100%; margin-bottom: 10px;}

.wrap{ margin-top: 20px; }

.plan1 { margin-bottom: 15px;}

.search-links-view .ex-btn{ padding: 10px 50px 12px; }

.who_we_are{ padding-bottom: 30px; }

.ourplan-heading {

  font-size: 26px;

  line-height: 30px;

}

.who_we_are h4 {

  text-align: center;

}

.border-buttom {

  border-top: 2px solid #66696a;

  display: block;

  margin: 0 auto 10px;

  padding: 0;

  width: 50%;

}

.experinc-box p{ font-size: 14px; text-align: center; margin-bottom: 15px; }

.btn-ex-one {

  display: inline-block;

  float: none;

  margin-top: 10px;

  text-align: center;

}

.experinc-box.p100t h3.ourplan-heading {

  margin-top: 20px;

}

.get-application a{display: inline-block;}

.top-reviews.our-plan-parlex .w-col.w-col-6, .footer-top-det .w-col.w-col-4{ margin-bottom: 20px; }

address,

.footer-top-det p, .footer-top-det a, .footer-top-det a span{text-align: left;}

.form-control-btn-box {

  vertical-align: top;

}

/*.search-full-box .search-icon {

  left: 30px;

}

.search-full-box .form-inline .form-group {

  width: 75%;

}*/

/*.filters-details .form-horizontal .form-group .form-control.dropdown{ padding: 0 90px 0 25px !important; }*/

.search-full-box .search-icon {

  left: 25px;

}

.search-full-box .form-inline .form-group {

  width: 99%;

}

.search-full-box .form-inline .form-control {

  width: 100%; margin-bottom: 10px;

}



/* doctor profile */

.doctor-profile .doctor-details .left-box {

    min-height: 0;

    display: inline-block;

    width: auto;

}

.reviews-content table.rating-details tr th { width: 230px; font-size: 16px; }

.map-det .bottom > img {

    height: auto;

}

.w48p {

  width: 98%;

}

.w40p {

  width: 98%;

}

.w48p.ml12p{ margin: 0; }

table.rating-details {

  margin-bottom: 20px;

  width: 100%;

}

.doctor-profile .doctor-details .left-box img {

  display: inline-block;

  padding-top: 0;

  width: 120px;

}

.doctor-profile .doctor-details .right-box {

  padding: 20px;

  width: 100%;

}

.doctor-profile .doctor-details .left-box{border: none !important; width: 100%;}

.link-footer{display: block !important;}

.w-col.w-col-4 {

  left: auto;

  right: auto;

  width: 50%;

}

.home .ui-selectmenu-button.ui-button {
    margin-top: 0px !important;
}
.home .form-group.gender select.form-control.dropdown{
  margin-bottom: 20px !important;
}
.doctor-profile .doctor-details .right-box{ height: 100%; }
#contact.mt83.page { margin-top: 0 !important; }
#contact.mt83.page .w-col.w-col-6.flip.text-left{ margin-bottom: 20px !important; }
#contact .contact-form {
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  width: 100% !important;
}
#contact .contact-form p {
  box-sizing: border-box;
  color: #d6d6d6;
  margin-bottom: 5px;
  overflow: hidden;
  text-align: center;
}
#contact .contact-form input,
#contact #contact-form textarea
{
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  width: 95%;
}

#contact .contact-details h3 {
  display: inline-block;
  text-align: center !important;
  width: 100%;
}
#contact .contact-details ul li {
  line-height: 26px;
  vertical-align: top;
}
#contact .contact-details ul.mb10 img {
  margin-top: -10px;
  position: relative;
  z-index: 1;
}
#contact .contact-details ul.mb10 a {
  position: relative;
  z-index: 2;
}

.w-nav-overlay .list-inline .dropdown {
  margin-bottom: 20px;
}

.w-nav-overlay ul.list-inline .w-nav-link{ padding: 9px 38px 4px !important; }
.w-nav-overlay ul.list-inline .dropdown {
  margin-bottom: 10px;
  margin-left: -8px;
  padding-left: 0;
  padding-top: 0;
}
.w-nav-overlay ul.list-inline .dropdown select{ cursor: pointer; }
.english-flag, .arabic-lang .english-flag, .arabic-flag, .arabic-lang .arabic-flag{ width: 100% !important; }
.arabic-lang .dropdow-header-lang {
  background-position: 20px 16px;
}
.footer-top-det a span.text-name {
  margin-left: 0;
}

}







/* view 320  */

@media screen and (max-width:479px) {

  .arabic-lang .form-horizontal .form-group .form-control.dropdown {
    padding: 15px 60px 15px 25px !important;
}
.arabic-lang .form-group.speciality .ui-selectmenu-text {
    padding: 3px 15px 3px 0 !important;
}

  .arabic-lang .w-nav-overlay ul.list-inline .dropdown{ margin-left: 0; }
  .arabic-lang .w-nav-link.menu-li.signIn-link.change-lng{ padding-left: 10px !important; }
  
  #contact .contact-details ul.mb10 img {
  max-width: 100%;
  width: 13px;
}

  .w-col.w-col-4 {

  left: auto;

  right: auto;

  width: 100%;

}

  /*.footer-top-det span{ width: 90% }*/

  .footer-top-det span br{ display: none; }

  .reviews-content table.rating-details tr th {

    width: 180px !important;

    font-size: 15px;

}



  .arabic-lang .search-full-box .form-inline .form-control {padding-right: 56px;}

  .doctor-profile .doctor-details .left-box{ width: 100%; }

  .write-your-review .rating-details tr th {

    font-size: 15px !important;

    width: 150px !important;

}

.pl30p {

    padding-left: 0;

}

.ourplan-heading {

  font-size: 22px;

  line-height: 26px;

}

.ex-btn{font-size: 16px;}

h5.title {

  font-size: 16px;

}



.review-user .img-responsive {

  display: inline-block;

}



.review-details, .review-user {

  width: 100%;

}

.review-user{ margin-bottom: 10px; }

.top-reviews.our-plan-parlex .w-col.w-col-6, .footer-top-det .w-col.w-col-4 {

  margin-bottom: 20px;

  padding-top: 20px;

  text-align: left;

}

.footer-top-det .w-col.w-col-4 {



}

address {

  font-size: 12px;

}

.footer-top-det .border-buttom{display: none;}

.footer-top-det .title-footer{ margin-bottom: 10px; }



}

