/*--

	Author: searchnative
	Author URL: searchnative.in
	Developer: Jignesh P.

--*/
/**************************************************************************************/
                                    /* fonts start */
/**************************************************************************************/

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600);
@import url(https://fonts.googleapis.com/css?family=Archivo+Black);
@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700,400italic);

/**************************************************************************************/


/**************************************************************************************/
                                    /* import styles */
/**************************************************************************************/

@import "bootstrap.min.css";
/*@import "font-awesome.css";*/
/*@import "animate.css";*/

/**************************************************************************************/
                                    /* Reset-Code */
/**************************************************************************************/

	html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
	article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
	ol,ul{list-style:none;margin:0px;padding:0px;}
	blockquote,q{quotes:none;}
	blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
	table{border-collapse:collapse;border-spacing:0;}
	/* start editing from here */
	a{text-decoration:none;}
	.txt-rt{text-align:right;}/* text align right */
	.txt-lt{text-align:left;}/* text align left */
	.txt-center{text-align:center;}/* text align center */
	.float-rt{float:right;}/* float right */
	.float-lt{float:left;}/* float left */
	.clear{clear:both;}/* clear float */
	.pos-relative{position:relative;}/* Position Relative */
	.pos-absolute{position:absolute;}/* Position Absolute */
	.vertical-base{vertical-align:baseline;}/* vertical align baseline */
	.vertical-top{vertical-align:top;}/* vertical align top */
	nav.vertical ul li{display:block;}/* vertical menu */
	nav.horizontal ul li{display: inline-block;}/* horizontal menu */
	img{max-width:100%;}

	.clearfix:before,.clearfix:after{content:" ";display:table}.clearfix:after{clear:both}.clearfix{*zoom:1}

/**************************************************************************************/


body{
	background:transparent;
	font-family: 'Raleway', sans-serif;
	padding: 0;
	margin: 0;
}


/********** Our Style ***************/
.logo_img{ display: inline-block; }
.logo_img img{ max-width: 100%; }
.logo_text{    opacity: 0;
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
    font-size: 52px;
    font-weight: bold;
    letter-spacing: normal;
font-family: 'Archivo Black', sans-serif;
text-transform: uppercase;
}

header{ background: #fde700; height: 100%; margin-bottom: 20px; }
header.transparent{background: transparent; height: 40px;}
header .container{margin: 0 auto;}
.drop_shadow{-webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
-moz-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);}

.top_section {
  box-sizing: border-box;
  padding-top: 10px;
  text-align: center;
  width: 100%;
  height: 40px;
}

.menu {
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
  width: 14%;
}
.title_page {
  box-sizing: border-box;
  color: #060600;
  display: inline-block;
  font-family: "Raleway",sans-serif;
  font-size: 16px;
  text-align: center;
  width: 68%;
  font-weight: bold;
  line-height: 22px;
  vertical-align: top;
}
.user_box {
  box-sizing: border-box;
  display: inline-block;
  text-align: right;
  width: 14%;
}
.border_bottom{border-bottom: 1px solid #d3d3d3; padding-bottom: 15px;}
.tab_box .nav > li > a {
  color: #626262;
  font-family: "Raleway",sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}
.tab_box .nav-tabs > li.active > a, .tab_box .nav-tabs > li.active > a:focus, .tab_box .nav-tabs > li.active > a:hover {
  background-color: transparent;
  border: medium none;
  color: #ae8103;
  cursor: default;
}

.tab_box .nav-tabs > li {
  display: inline-block;
  float: left;
  margin-bottom: -1px;
  text-align: center;
  width: 33.33%;
}
.tab_box .nav-tabs > li > a {border: medium none;}
.tab_box .nav-tabs > li > a{ border-bottom: 2px solid #fde700; }
.tab_box .nav-tabs > li:active > a{ border-bottom: 2px solid #827e25; }

.text {
    font-family: 'Archivo Narrow', sans-serif;
    margin: 25px 0 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

.star_link{ background: url(../images/star_icon_gray.png) no-repeat; width: 15px; text-align: center; height: 10px; display: inline-block; }
.active.star_link{ background: url(../images/star_icon.png) no-repeat; width: 15px; text-align: center; height: 10px; display: inline-block; }
.text .fl, .text .fr{display: inline-block; width: 48%;}
.map_box {
  text-align: center;
  width: 100%;
}
#details .container{padding: 0 20px; box-sizing: border-box;}
/*footer{    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 50px;}*/
.footer.subscriptionText {
    font-size: 17px;
    position: absolute;
    bottom: 70px;
    color: #231f20; font-weight: 500;
}
.txt-center.center-box {
    width: 145px;
    height: 145px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -72.5px;
    margin-top: -72.5px;
}
.margin70top{margin-top:70px; }

.logo_box{vertical-align: middle; text-align: center;}
.tab_box .nav-tabs {border-bottom: none;}
.tab_box .nav-tabs > li > a:hover {border: none;}
.tab_box .nav > li > a:focus, .tab_box .nav > li > a:hover {background-color: transparent; text-decoration: none;}

.table_category_det{width: 100%; padding: 0; margin: 0;}
.table_category_det th{ width: 40%; text-align: left; }
.table_category_det td{ width: 60%; text-align: left; }
.table_category_det th img{margin: 0 10px 0 0; display: inline-block; max-width: 100%;}
.table_category_det th span, .table_category_det td span{ font-size: 14px; line-height: 26px; color: #5b5b5b; }
.table_category_det th span{text-transform: capitalize; font-weight: 500;}
.table_category_det td span{color: #737373}
.table_category_det{padding-bottom: 15px; border-bottom: 1px solid #d3d3d3; margin-bottom: 5px;}

	#exTab1 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}


.link_accordion_plus{background: url(../images/plus_icon.png) no-repeat; width: 17px; height: 17px; display: inline-block; text-align: right;}
.link_accordion_minus{background: url(../images/minus_icon.png) no-repeat; width: 17px; height: 17px; display:inline-block; text-align: right;}

#packages .panel-heading .panel-title, .notification_setting .panel-heading .panel-title{width: 100%; box-sizing: border-box; border:1px solid #e6e7e8; border-left: 7px solid #fde700;}

#packages .panel-heading h4 a, .notification_setting .panel-heading h4 a{color: #333333; font-size: 18px; }
#packages .panel-heading h4 a, .notification_setting .panel-heading h4 a{padding: 12px 0;display: block;}
#packages .panel-heading h4 a span.month_det, .notification_setting .panel-heading h4 a span.month_det{ width: 70%; box-sizing: border-box; display: inline-block; padding-left: 22px;}
.notification_setting .panel-heading h4 a span.month_det{ width: 80%;}
#packages .panel-heading h4 a span.bd_det{ width: 16%; display: inline-block; box-sizing: border-box;}
#packages .panel-heading h4 a span.link_box, .notification_setting .panel-heading h4 a span.link_box{ width: 10%; display: inline-block; box-sizing: border-box; vertical-align: middle; text-align: right;}
.notification_setting .panel-heading h4 a span.link_box{ width: 15%;}
.panel-heading, .panel-default>.panel-heading {
    margin-bottom: 20px;
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
}
.user_detail .matinput .orange{margin-bottom: 5px;}

/* user details form */
.user_detail { background: #ffffff; }
.user_detail a{border:1px solid #e1e1e1; display: block; width: 100%; color: #828283; font-size: 18px; line-height: 20px; text-transform: capitalize; text-decoration: none; background: #fff; 
	-webkit-box-shadow: 0px 2px 30px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 30px -6px rgba(0,0,0,0.75);
box-shadow: 0px 2px 30px -6px rgba(0,0,0,0.75);
height: 40px;
margin-bottom: 6px;
}
.img_box{ text-align: center; border-right: 1px solid #e1e1e1; height: 40px; padding: 0 6px;}
/*.user_detail a span{line-height: 20px; vertical-align: middle; padding-left: 10px; }*/

.checkbox_notification{width: 17px; height: 17px;}
.notification_setting{margin-top:40px; display: block; }
.user_detail a span {
    line-height: 20px;
    vertical-align: middle;
    padding-left: 10px;
    margin-top: -28px;
    display: inline-block;
}

.matinput{position: relative; margin-bottom: 10px;}			
.user_name {
    border: 1px solid #e1e1e1;
    display: block;
    width: 100%;
    color: #828283;
    font-size: 18px;
    line-height: 20px;
    text-transform: capitalize;
    text-decoration: none;
    background: #fff;
    -webkit-box-shadow: 0px 2px 30px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 30px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 30px -6px rgba(0,0,0,0.75);
    height: 40px;
    margin-bottom: 6px;
    padding-left: 55px;
    box-sizing: border-box;
}
.icon {
	position: absolute;
	top: 0;
	left: 0;
    text-align: center;
    border-right: 1px solid #e1e1e1;
    height: 40px;
    padding: 0 6px;
}
/************************************************************************/

h1{
	color:#fff;
	font-size:50px;
	font-family: 'Raleway', sans-serif;
	text-align:center;
	margin:50px 0px;
	letter-spacing: 2px;
}
h2{ color: #333333; font-size: 20px; line-height: 35px; font-weight: 500; }
.container{
	width:100%;
	margin:0px auto;
	padding: 0 5%;
	box-sizing: border-box;
}
.container h3{
	color:#fff;
	font-size:30px;
	text-align:center;
	font-family: 'Raleway', sans-serif;
	letter-spacing:1px;
	margin-bottom:15px;
}
.left{
	float:left;
	width:48%;
	margin-right:4%;
}
.right{
	float:left;
	width:48%;
}
.register{
	margin-bottom:20px;
}
.register,.send-mail,.sign-in,.recover,.subscribe,.socialicons{
	width:84%;
	padding:40px;
	background:rgba(0, 0, 0, 0.38);

}
.mainpage{background: #ffe900;  /*position: relative; width: 100%;*/}

input.name {
	width: 334px;
	padding: 12px 10px 12px 65px;
	border: none;
	outline: none;
	border-radius: 3px;
	background: rgb(255, 255, 255) url("../images/user.png") no-repeat 10px 10px;
	font-size: 17px;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px;
	margin-bottom: 21px;
	height: 60px;
	box-sizing: border-box;
}

input.password {
	width: 334px;
	box-sizing: border-box;
	padding: 12px 10px 12px 65px;
	border: none;
	outline: none;
	border-radius: 3px;
	background: rgb(255, 255, 255) url("../images/password.png") no-repeat 10px 10px;
	font-size: 17px;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px;
	margin-bottom: 21px;
	height: 60px;
}
.frm_login{text-align: center;}
/*input.email {
	width: 86.5%;
	padding: 12px 10px 12px 45px;
	border: none;
	outline: none;
	border-radius: 3px;
	background: rgb(255, 255, 255) url("../images/mail.png") no-repeat 10px 10px;
	font-size: 17px;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px;
	margin-bottom: 20px;
}
input.location {
	width: 86.5%;
	padding: 12px 10px 12px 45px;
	border: none;
	outline: none;
	border-radius: 3px;
	background: rgb(255, 255, 255) url("../images/location.png") no-repeat 10px 10px;
	font-size: 17px;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px;
	margin-bottom:10px;
}*/
.or_box{border-top: 1px solid #a2a2a2; margin: 30px 0 15px; z-index: 1; position: relative; width: 100%; text-align: center;}
.or_box span {
    background: #fff;
    display: inline-block;
    width: 75px;
    color: #a2a2a2;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    font-size: 18px;
    margin-top: -10px;
    /* height: 20px; */
    vertical-align: top;
}

.btn_login{ width: 100%; display: inline-block; text-align: center; padding: 15px 0; color: #fff; background: #82b3de; border: none; font-size: 18px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; cursor: pointer; font-size: 20px; }
.social_box a{ width: 100%; display: inline-block; margin-bottom: 12px; color: #fff; text-align: center; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; font-size: 20px;}
.facebook_link{ background: #3b579b; padding: 15px 0; }
.twitter_link{ background: #00aaf0; padding: 15px 0; }
.googleplus_link{ background: #c72c00; padding: 15px 0; }
.btn_signUp{width: 100%; height: 35px; text-align: center; vertical-align: middle; color: #000; background: #fde700; border:none; font-size: 15px; font-weight: 600; cursor: pointer; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}

.border_Bottom{ border-bottom: 4px solid #828283; }
ul li input[type="checkbox"] {
	display: none;
}
ul li input[type="checkbox"]+label {
	position: relative;
	padding-left: 25px;
	border: #F0F8FF;
	color: #FFFFFF;
	display: inline-block;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	letter-spacing:1px;
}
ul li input[type="checkbox"]+label span:first-child {
	width: 13px;
	height: 13px;
	display: inline-block;
	border: 1px solid #FFFFFF;
	position: absolute;
	top: 1px;
	left: 4px;
	bottom: 4px;
}
ul li input[type="checkbox"]:checked+label span:first-child:before {
	content: "";
	background: url(../images/tick.png)no-repeat;
	position: absolute;
	left: 2px;
	top: 2px;
	font-size: 10px;
	width: 10px;
	height: 10px;
}
label {
    color: #e8e8e8;
}
.register  input[type="submit"] ,.send-mail input[type="submit"] {
	width:100%;
	background-color:#014751;
	color:#fff;
	padding:15px;
	outline: none;
	border:none;
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	margin-top:20px;
	cursor:pointer;
}
 input[type="submit"]{
	transition: 0.5s all;
	webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.register  input[type="submit"]:hover,.send-mail input[type="submit"]:hover {
	background-color:rgba(255, 193, 7, 0.66);
}
.send-mail textarea{
	width:95%;
	border:1px solid #000;
	resize:none;
	padding:10px;
	height:183px;
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	border:none;
	letter-spacing:1px;
}

.sign-in{
	margin-bottom:20px;
}
.sign-in ul{
	float:left;
}
.sign-in input[type="submit"] {
	float:right;
	background-color:rgba(255, 193, 7, 0.88);
	color:#fff;
	padding:7px 15px;
	outline: none;
	border:none;
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	cursor:pointer;
}
.sign-in  input[type="submit"]:hover{
	background-color:rgba(60, 151, 164, 0.55);
}
.recover{
	margin-bottom:20px;
}
.recover input.number{
	width: 86.5%;
	padding: 12px 10px 12px 45px;
	border: none;
	outline: none;
	border-radius: 3px;
	background: rgb(255, 255, 255) url("../images/phone.png") no-repeat 10px 10px;
	font-size: 17px;
	font-family: 'Raleway', sans-serif;
	margin-bottom:20px;
	letter-spacing: 1px;
}
.recover input[type="submit"],.subscribe input[type="submit"]{
	background-color:#014751;
	color:#fff;
	padding:11px;
	outline: none;
	border:none;
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	width:44%;
	cursor:pointer;
}
.recover input[type="submit"]:hover,.subscribe input[type="submit"]:hover{
	background-color:rgba(255, 193, 7, 0.7);
}
input.done,input.no-thanks{
	margin-left:10%;
	background-color:rgba(255, 193, 7, 0.7)!important;
}
input.done:hover,input.no-thanks:hover{
	background-color:rgba(60, 151, 164, 0.55)!important;
}
.subscribe{
	margin-bottom:20px;
}
.socialicons{
	text-align:center;
}
.socialicons ul li{
	display:inline-block;
}
.socialicons ul li a{
	height:50px;
	width:50px;
    background:url('../images/img-sprite.png') no-repeat 0px 0px;
	display:inline-block;
	border:none;
}
.socialicons ul li a:hover{
	transition: 0.5s all;
	webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.socialicons ul li a.twitter{
	background:url('../images/img-sprite.png') no-repeat -50px 0px;
}
.socialicons ul li a.google{
	background:url('../images/img-sprite.png') no-repeat -100px 0px;
}
.socialicons ul li a.pinterest{
	background:url('../images/img-sprite.png') no-repeat -150px 0px;
}
.socialicons ul li a.linkedin{
	background:url('../images/img-sprite.png') no-repeat -200px 0px;
}
.socialicons ul li a.facebook:hover{
	background:url('../images/img-sprite.png') no-repeat 0px -50px;
}
.socialicons ul li a.twitter:hover{
	background:url('../images/img-sprite.png') no-repeat -50px -50px;
	
}

.socialicons ul li a.google:hover{
	background:url('../images/img-sprite.png') no-repeat -100px -50px;
	
}
.socialicons ul li a.pinterest:hover{
	background:url('../images/img-sprite.png') no-repeat -150px -50px;

}
.socialicons ul li a.linkedin:hover{
	background:url('../images/img-sprite.png') no-repeat -200px -50px;
}
/*.footer{
	margin-bottom:60px;
}*/
.footer p{
	text-align:center;
	color:#231f20;
	font-size:17px;
	line-height: 20px;
	font-family: 'Myriad Pro Regular';
	padding: 0 45px;
}
footer {
 bottom: 50px;
 padding: 0 5%;
 left: 0;
 margin: 0 auto;
 position: absolute;
 text-align: center;
 width: 100%;
 box-sizing: border-box;
}
footer.save_btn {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 50px;
    padding: 0 5%;
    box-sizing: border-box;
}
footer.save_btn .btn_save{ width: 100%; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; height: 35px; font-size: 15px; }
.footer p a{
	color:#231f20;
}
.footer p a:hover{
	text-decoration:underline;
}


.bg_black{background-color: #191919; }
.dashboard_det{ background: #191919; display: block; margin: 0; padding: 0; width: 100%; height:100%; }
.marginzero{ margin: 0 !important; }
.onecol{width: 45%; height: 175px; text-align: center; background: #fff; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;  display: inline-block; margin-top:3%; margin-left:3%; margin-right:3%; float: left; text-align: center;}
.twocol{width: 44%; height: 175px; text-align: center; background: #fff; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; display: inline-block; margin: 0; margin-top:3%; float: left; text-align: center;}
.icon_dashboard{ width: 50px; height: 50px; display: inline-block; text-align: center; margin: 30px 0; }
.onecol a span, .twocol a span {
    box-sizing: border-box;
    color: #060600;
    display: inline-block;
    font-family: "Raleway",sans-serif;
    font-size: 16px;
    text-align: center;
    width: 100%;
    font-weight: bold;
    line-height: 22px;
    vertical-align: top;
    text-align: center;
    box-sizing: border-box;
}
.onecol a, .twocol a{text-decoration: none;}
.account_holder_box { 
    border: 1px solid #e6e7e8;
    box-shadow: 0 1px 10px #f0f0f0;
    color: #626262;
    font-family: "Raleway",sans-serif;
    font-size: 16px;
    padding: 10px 25px;
    width: 100%;
}
.account_holder_box label.account_name{ display: block; color: #494949; font-family: "Raleway",sans-serif; font-size: 14px; font-weight: line-height: 20px; }
.account_holder_box label.account_name.orange, label.orange{color: #f0b206; font-size: 18px; line-height: 20px;}
.date_det .fr, .date_det .fl{width: 48%; display: inline-block;}
.date_det .fl{text-align: left; float: left;}
.date_det .fr{text-align: right; float: right;}
.position_rel{ position: relative; }
.save_account_on{ background: url(../images/save_account_on.png) no-repeat top right; width: 30px; height: 20px; position: absolute; top: 21px; right: 22px; z-index: 2;}
.save_account_off{ background: url(../images/save_account_off.png) no-repeat top right; width: 30px; height: 20px; position: absolute; top: 21px; right: 22px; z-index: 2;}

.transaction_history_det{margin-top: -1px;}
.transaction_history_det table tr th{background: #a6a6a6; color: #fff; text-align: center; width: 33.33%; font-size: 17px; box-sizing: border-box;}
.transaction_history_det table tr td{color: #a9a9a9; font-size: 17px; line-height: 30px; box-sizing: border-box; width: 33.33%; text-align: center; }
.transaction_history_det table tr td i{font-size: 20px; line-height: 23px; color: #a9a9a9; font-weight: normal; vertical-align: middle;}
.transaction_history_det table tr td .account_det label{font-size: 12px; color: #bababa !important; line-height: 18px; display: block;}
.logo_box label{ color: #000; font-size: 20px; font-weight: bold; text-align: center; }
.txt-center.center-box.categories_det {top:45%;}

.contact_det{margin: 20px 0 0 0; padding: 15px; border: 1px solid #f0b206; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;   }
.contact_det ul li{display: block; color: #000; font-size: 16px; line-height: 30px; font-weight: bold; text-align: left; width: 100%; clear: both;}
.contact_det ul li i{ color: #f0b206; padding-right: 10px; vertical-align: middle; font-size: 20px; line-height: 30px;  }
.contact_det ul li .details{float: left; width: 70%; text-align: left; display: inline-block;}
.details_icon{float: left; width: 20%; display: inline-block;}
/***************** Dhara ********************/
.profile-page-main {
  margin-top: -20px;
}
.pro-bg {
  background: rgba(0, 0, 0, 0) url("../images/profile-bg.png") no-repeat scroll center center / cover ;
  padding: 46px 0 56px;
  position: relative;
  text-align: center;
  width: 100%;
}
.pro-bg img {
  padding-bottom: 10px;
}
.pro-bg-text span {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}
.pro-bg-text a {
  color: #fff;
  font-size: 13px;
  text-decoration: none;
}
.pro-icon {
  position: absolute;
  right: 25px;
  top: 275px;
}


.edit-pro ul {
  margin: 58px 0 0;
  padding: 0 15px;
}
.edit-pro ul li {
  display: block;
}
.edit-pro ul li a {
  border-color: #e6e7e8 #e6e7e8 #e6e7e8 #fde700;
  border-style: solid;
  border-width: 1px 1px 1px 7px;
  color: #020000;
  float: left;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px 20px;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
}

.main-mid {
  padding: 0 20px;
  width: 100%;
}

.search-page input {
  background: rgba(0, 0, 0, 0) url("../images/searchbar.png") no-repeat scroll 95% center;
  border: 1px solid #e6e7e8;
  box-shadow: 0 1px 10px #f0f0f0;
  color: #626262;
  font-family: "Raleway",sans-serif;
  font-size: 16px;
  padding: 15px 25px;
  width: 100%;
}
.search-fild{ height: 400px; overflow-y: auto; padding: 20px 0; }
.search-fild input {
  border: 1px solid #e6e7e8;
  box-shadow: 0 1px 10px #f0f0f0;
  color: #333;
  font-family: "Raleway",sans-serif;
  font-size: 16px;
  margin-top: 10px;
  padding: 10px 25px;
  width: 100%;
}

select.custom-dropdown {
  -moz-appearance: none;
  background: rgba(0, 0, 0, 0) url("../images/drop-down-arrow.png") no-repeat scroll 96% center;
  border: 1px solid #e6e7e8;
  box-shadow: 0 1px 10px #f0f0f0;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  padding: 9px 25px;
  width: 100%;
}
.search-fild select.custom-dropdown {
    -moz-appearance: none;
    -webkit-appearance: none;
}
button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
select.custom-dropdown {
  cursor: pointer;
  font-size: 16px;
}
.search-fild input.button {
  background: #fde700 none repeat scroll 0 0;
  border: medium none;
  border-radius: 4px;
  font-size: 15px;
  font-weight: bold;
  /*padding: 5px 0;*/
  text-transform: uppercase;
  width: 100%;
  height: 35px;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}


.main-mid-new {
  width: 100%;
}
.search-result-inner {
  border-bottom: 5px solid #000;
  float: left;
  margin-bottom: 25px;
  padding: 0 15px 13px;
  width: 100%;
}
.search-result-left {
  float: left;
  padding-right: 10px;
  width: 27%;
}
.search-result-rigth {
  float: right;
  margin-top: 10px;
  width: 73%;
}
.search-result-rigth-inner {
  float: left;
  width: 100%;
}
.search-result-rigth .right a {
    background: none;
    padding: 0 4px 0 0;
}
.search-result-rigth .right {
  float: right;
  width: 32%;
}
.search-result-rigth .left {
  float: left;
  font-size: 20px;
  margin-right: 0;
  width: 66%;
}
.search-result-rigth p {
  font-size: 13px;
  line-height: 19px;
  margin-bottom: 10px;
  width: 100%;
}
.search-result-rigth a {
  background: #fde700 none repeat scroll 0 0;
  color: #131313;
  float: right;
  font-size: 14px;
  padding: 5px 10px;
  text-decoration: none;
}


.side_bar {
  background: #f6f4f4 none repeat scroll 0 0;
  margin-top: 0px;
  min-height: 800px;
  width: 80%;
  position: absolute;
  z-index: 9999;
}
.social-link ul {
  float: left;
  margin: 17px 0 0 29px;
}
.social-link ul li {
  display: inline-block;
  margin: 0 5px 0 0;
}
.main-nav-bar ul {
  float: left;
  margin: 16px 10px 0;
  width: 100%;
}
.main-nav-bar ul li {
  margin-bottom: 12px;
}
.main-nav-bar ul li a {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #e6e7e8;
  color: #333333;
  display: inline-block;
  padding: 11px 10px;
  text-decoration: none;
  width: 93%;
}
.main-nav-bar ul li a img {
  margin: 0 15px 0 10px;
}
/**********************************************/



/*--Responsive--*/
 /*@media (max-width:1440px){
	 .register, .send-mail, .sign-in, .recover, .subscribe, .socialicons {
		width: 81.5%;
	}
	input.name ,input.password ,input.email,input.location ,.recover input.number {
		width: 84.5%;
	}
	.send-mail textarea {
		width: 94%;
	}
}
@media (max-width:1366px){
	 .register, .send-mail, .sign-in, .recover, .subscribe, .socialicons {
		width: 80.5%;
	}
	input.name ,input.password ,input.email,input.location ,.recover input.number {
		width: 83.5%;
	}
	.send-mail textarea {
		width: 93.5%;
	}
}
@media (max-width: 1280px){
	.register, .send-mail, .sign-in, .recover, .subscribe, .socialicons {
		width: 79.5%;
	}
	input.name ,input.password ,input.email,input.location ,.recover input.number {
		width: 83%;
	}
	.send-mail textarea {
		width: 94%;
	}
}
@media (max-width: 1080px){
	.container {
		width: 70%;
	}
	.register, .send-mail, .sign-in, .recover, .subscribe, .socialicons {
		width: 77.5%;
	}
	input.name, input.password, input.email, input.location, .recover input.number {
		width: 80%;
	}
	.send-mail textarea {
		width: 92%;
	}

}
@media (max-width: 1024px){
	.register, .send-mail, .sign-in, .recover, .subscribe, .socialicons {
		width: 76.5%;
	}
	input.name, input.password, input.email, input.location, .recover input.number {
		width: 78.5%;
	}
	.send-mail textarea {
		width: 91.5%;
	}
}
@media (max-width: 991px){
	.container {
    width: 80%;
}
.register, .send-mail, .sign-in, .recover, .subscribe, .socialicons {
    width: 78.5%;
}
input.name, input.password, input.email, input.location, .recover input.number {
    width: 81%;
}
.send-mail textarea {
    width: 92.5%;
}
}
@media (max-width: 966px){
	input.name, input.password, input.email, input.location, .recover input.number {
		width: 80.5%;
	}
}
@media (max-width: 900px){
	.register, .send-mail, .sign-in, .recover, .subscribe, .socialicons {
		width: 76.5%;
	}
	input.name, input.password, input.email, input.location, .recover input.number {
		width: 78.5%;
	}
	.send-mail textarea {
		width: 91.5%;
	}
	.socialicons ul li a {
		height: 45px;
		width: 45px;
	}
}
@media (max-width: 800px){
	.register, .send-mail, .sign-in, .recover, .subscribe, .socialicons {
		width: 80.5%;
		padding:30px;
	}
	input.name, input.password, input.email, input.location, .recover input.number {
		width: 77%;
	}
	.send-mail textarea {
		width:91%;
		height: 139px;
	}
}
@media (max-width: 768px){
	h1 {
		font-size: 48px;
	}
	.register, .send-mail, .sign-in, .recover, .subscribe, .socialicons {
		width: 79.5%;
	}
	input.name, input.password, input.email, input.location, .recover input.number {
		width: 76%;
	}
	.send-mail textarea {
		width:90.5%;
	}
	.socialicons ul li a {
		height: 45px;
		width: 42px;
	}
}
@media (max-width: 736px){
	.left {
		width: 100%;
		margin-right: 0;
	}
	.register, .send-mail, .sign-in, .recover, .subscribe, .socialicons {
		width: 89.5%;
		padding:40px;
		margin-bottom:40px;
	}
	input.name, input.password, input.email, input.location, .recover input.number {
		width: 89.2%;
	}
	.send-mail textarea {
		width: 95.5%;
	}
	.right {
		width: 100%;
	}
	.socialicons {
    margin-bottom: 0px;
	}
	.socialicons ul li a {
		height: 45px;
		width: 55px;
	}
}
@media (max-width: 667px){
	h1 {
		font-size: 42px;
	}
	.container {
		width: 65%;
	}
	.register, .send-mail, .sign-in, .recover, .subscribe, .socialicons {
		width: 80.5%;
		padding: 40px;
		margin-bottom: 40px;
	}
	input.name, input.password, input.email, input.location, .recover input.number {
		width: 84%;
	}
	.send-mail textarea {
		width: 93.5%;
	}
	.socialicons {
    margin-bottom: 0px;
	}
}
@media (max-width: 640px){
	input.name, input.password, input.email, input.location, .recover input.number {
		width: 83%;
	}
	
}
@media (max-width: 600px){
	.register, .send-mail, .sign-in, .recover, .subscribe, .socialicons {
		width: 79%;
	}
	input.name, input.password, input.email, input.location, .recover input.number {
		width: 81%;
	}
	.send-mail textarea {
		width: 92.5%;
	}

}
@media (max-width: 568px){
	.register, .send-mail, .sign-in, .recover, .subscribe, .socialicons {
		width: 78%;
	}
	input.name, input.password, input.email, input.location, .recover input.number {
		width: 80%;
	}
	.socialicons ul li a {
		height: 45px;
		width: 50px;
	}

}
@media (max-width: 480px){
	h1 {
		font-size: 34px;
	}
	.container {
		width: 70%;
	}
	.register, .send-mail, .sign-in, .recover, .subscribe, .socialicons {
		width: 82%;
		padding:30px;
	}
	input.name, input.password, input.email, input.location, .recover input.number {
    width: 79%;
}
.send-mail textarea {
    width: 92%;
}
.socialicons ul li a {
    height: 45px;
    width: 44px;
}
}
@media (max-width: 414px){
	.container {
		width: 83%;
		margin:0px auto;
	}
	h1{
		margin:30px 0px;
	}
}
@media (max-width: 384px){

	.container {
		width: 89%;
	}
	input.name, input.password, input.email, input.location, .recover input.number {
		width: 78%;
	}
	.register input[type="submit"].send-mail input[type="submit"] ,.sign-in input[type="submit"]{
		padding:10px;
	}
	.socialicons ul li a {
		height: 45px;
		width: 42.2px;
		background: url('../images/img-sprite.png') no-repeat -7px 0px;
	}
	.socialicons ul li a.twitter {
		background: url('../images/img-sprite.png') no-repeat -53px 0px;
	}
	.socialicons ul li a.google {
		background: url('../images/img-sprite.png') no-repeat -103px 0px;
	}
	.socialicons ul li a.pinterest {
		background: url('../images/img-sprite.png') no-repeat -153px 0px;
	}
	 .socialicons ul li a.linkedin {
		background: url('../images/img-sprite.png') no-repeat -203px 0px;
	} 
	.socialicons ul li a.facebook:hover{
		background: url('../images/img-sprite.png') no-repeat -3px -50px;
	}
	.socialicons ul li a.twitter:hover{
		background: url('../images/img-sprite.png') no-repeat -53px -50px;
	}
	.socialicons ul li a.google:hover {
		background: url('../images/img-sprite.png') no-repeat -103px -50px;
	}
	.socialicons ul li a.pinterest:hover {
		background: url('../images/img-sprite.png') no-repeat -153px -50px;
	}
	 .socialicons ul li a.linkedin:hover{
		background: url('../images/img-sprite.png') no-repeat -203px -50px;
	}  	
}
@media (max-width: 375px){
	.container {
    width: 95%;
}
	.register, .send-mail, .sign-in, .recover, .subscribe, .socialicons {
    width: 84%;
    padding: 25px;
}
}
@media (max-width: 320px){
	h1 {
		font-size: 28px;
	}
	.container h3 {
		font-size: 25px;
	}
	.register, .send-mail, .sign-in, .recover, .subscribe, .socialicons {
		padding: 20px;
	}
	input.name, input.password, input.email, input.location, .recover input.number {
		width: 74%;
	}
	.send-mail textarea {
		width: 90%;
	}
	.socialicons ul li a {
		height: 45px;
		width: 39.2px;
	}
}*/